/*General*/

body {
	width: 425px;
	height: 400px;
	background-color: #FFF4E0;
	color: #D6A384;
	font-family: 'Rokkitt', serif;
}

#header {
	padding-bottom: 2px;
	border-bottom: 2px solid;
}

#header h3 {
	display: inline;
	margin: 3px;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	color:#361E12;
}

#createNoteButton {
	position: relative;
	display: inline;
	background-color: #DDC2B2;
	color: #B87333;
	outline-color: #FFFFF0;
	-webkit-border-radius: 3px;
	margin-left: 369px;
}

#createNoteButton:active {
	top: 1px;
}

#noteInputContainer {
	display: none;
}

#noteInput {
	width: 417px;
	height: 50px;
	max-width: 417px;
	max-height: 355px;
	outline-color: #FFFFF0;
}

#submitButton {
	position: relative;
	background-color: #DDC2B2;
	color: #B87333;
	outline-color: #FFFFF0;
	-webkit-border-radius: 3px;
	margin-left: 369px;
}

#submitButton:active {
	top: 1px;
}

hr {

}

#footer {
	width: 400px;
	height: 15px;
}

/*Everything regarding individual notes*/

.noteContainer {
	padding-bottom: 1px;
	border-bottom: solid 1px;
}

.noteOptions {
	position: relative;
	margin-left: 250px;
}

.fa {
	position: relative;
	padding-right: 4px;
}

.fa:active {
	top: 2px;
}

p {
	color:#361E12;
	margin: 4px;
}

.linkTag {
	padding-left: 220px;
	padding-right: 1px;
	font-size: 10px;
}

a {
	outline-color: #FFFFF0;
}

img {
	position: absolute;
	margin-top: 5px;
	left: 380px;
}

li {
	display: inline;
	padding-right: 3px;
	list-style-type: none;
	font-size: 9px;
}