/*General*/

body {
	width: 425px;
	height: 400px;
	background-color: #FDF6E3;
	color: #D6A384;
	font-family: 'Rokkitt', serif;
}

#header {
	padding-bottom: 2px;
	border-bottom: 2px solid;
}

#header h3 {
	display: inline;
	margin: 3px;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}


#noteInputContainer {
	display: none;
}

#noteEditContainer {
	display: none;
}

.headerInput {
	width: 417px;
	height: 50px;
	max-width: 417px;
	max-height: 335px;
	background-color: #FFFCF2;
	outline-color: #FFFFF0;
}

#editInput {
	height: 175px;
}

.headerButtons {
	position: relative;
	background-color: #DDC2B2;
	color: #B87333;
	outline-color: #FFFFF0;
	-webkit-border-radius: 3px;
}

.headerButtons:active {
	top: 2px;
}

.submitButtonsContainer {
	margin-left: 300px;
}

.editButtonsContainer {
	margin-left: 314px;
}

#createNoteButton {
	margin-left: 369px;
}

#footer {
	width: 400px;
	height: 15px;
}

/*Everything regarding individual notes*/

.noteContainer {
	position: relative;
	padding-bottom: 1px;
	border-bottom: solid 2px;
	border-right: solid 2px;
	-webkit-border-bottom-right-radius: 15px;
	-webkit-transition: background-color 0.3s;
}

.noteContainer:hover {
	background-color: rgba(245, 232, 198, 0.3);
}

.noteFull {
	height: 17px;
	overflow: hidden;
}

.fa {
	position: relative;
	padding-right: 4px;
	opacity: 0.6;
	-webkit-transition: opacity .5s;
}

.fa:hover {
	opacity: 1;
}

.fa:active {
	top: 2px;
}

p {
	color:#361E12;
	margin: 4px;
}

.linkTag {
	padding-left: 220px;
	padding-right: 1px;
	font-size: 10px;
}

a {
	outline-color: #FFFFF0;
}

img {
	position: absolute;
	margin-top: 5px;
	left: 380px;
}

li {
	display: inline;
	padding-right: 3px;
	list-style-type: none;
	font-size: 9px;
}