/*General*/

body {
	width: 400px;
	height: 400px;
}

#header {
	border-bottom: 2px solid #000;
}

#createNoteButton {
	width: 54px;
	height: 20px;
	background-image: url('../Images/createNoteButton.png');
	outline: none;
	display: block;
	margin-left: 335px;
}

#noteInputContainer {
	display: none;
}

#noteInput {
	width: 385px;
	height: 50px;
	max-width: 385px;
	max-height: 400px;
}

#submitButton {
	width: 54px;
	height: 20px;
	background-image: url('../Images/submitButton.png');
	outline: none;
	margin-left: 335px;
}

hr {

}

#footer {
	width: 400px;
	height: 15px;
}

/*Everything regarding individual notes*/

.noteContainer {
	padding-bottom: 1px;
	border-bottom: solid 1px black;
}

p {
	margin: 4px;
}

.linkTag {
	padding-left: 4px;
	font-size: 12px;
}

img {
	position: absolute;
	margin-top: 5px;
	left: 380px;
}

li {
	display: inline;
	list-style-type: none;
	font-size: 12px;
}

#clearButton {
	width: 54px;
	height: 20px;
	background-image: url('../Images/clearButton.png');
	outline: none;
}